<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
        
<hibernate-configuration>
	<session-factory>
		<!-- Database connection setting -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/test</property>
		<property name="connection.username">root</property>
		<property name="connection.password">snail</property>
		
		<!-- JDBC connection pool -->
		<property name="connection.pool_size">1</property>
		
		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
		
		<!-- Enable Hibernate's automatic session context management -->
		<property name="current_session_context_class">thread</property>
		
		<!-- Disable the second-level cache -->
		<property name="cache.provider_class">org.hiberate.cache.internal.NoCacheProvider</property>
		
		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>
		
		<property name="hibernate.generate_statistics">true</property>
		<property name="hibernate.cache.region.factory_class">
			org.hibernate.cache.ehcache.EhCacheRegionFactory
		</property>
		
		<!-- <mapping resource="org/hibernate/tutorial/domain/Event.hbm.xml" />
		<mapping resource="org/hibernate/tutorial/domain/Person.hbm.xml" />
		<mapping class="org.appress.hibernate.ch02.domain.Message" />
		<mapping class="com.appress.hibernate.chapter02.domain.UserInfo" />
		<mapping class="com.appress.hibernate.chapter02.domain.Employee" />
		
		<mapping class="com.appress.hibernate.chapter04.domain.Disc" />
		<mapping class="com.appress.hibernate.chapter04.domain.AudioDisc" />
		<mapping class="com.appress.hibernate.chapter04.domain.VideoDisc" />
		 -->
		 
		<mapping class="com.appress.hibernate.chapter02.domain.UserInfo" />
		<mapping class="com.appress.hibernate.chapter05.domain.Book" />
		<mapping class="com.appress.hibernate.chapter05.domain.ReaderError" />
		
	</session-factory>
</hibernate-configuration>